
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>Swiggiweb - Online Food Ordering Website Template</title>
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/resources/memberResources/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/resources/memberResources/vendor/slick/slick-theme.min.css" />
    <!-- Feather Icon-->
    <link href="${pageContext.request.contextPath}/resources/memberResources/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="${pageContext.request.contextPath}/resources/memberResources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="${pageContext.request.contextPath}/resources/memberResources/css/style.css" rel="stylesheet">
    <!-- Sidebar CSS -->
    <link href="${pageContext.request.contextPath}/resources/memberResources/vendor/sidebar/demo.css" rel="stylesheet">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="basics">
		<!-- Title -->
		<div class="mb-2 mt-3">
			<h5 class="font-weight-semi-bold mb-0">Basics</h5>
		</div>
		<!-- End Title -->
		<!-- Basics Accordion -->
		<div id="basicsAccordion">
			<!-- Card -->
			<div
				class="box border-bottom bg-white mb-2 rounded shadow-sm overflow-hidden">
				<div id="basicsHeadingOne">
					<h5 class="mb-0">
						<button
							class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3 collapsed"
							data-toggle="collapse" data-target="#basicsCollapseOne"
							aria-expanded="false" aria-controls="basicsCollapseOne">
							Do you have any built-in caching? <span class="card-btn-arrow">
								<span class="feather-chevron-down"></span>
							</span>
						</button>
					</h5>
				</div>
				<div id="basicsCollapseOne" class="collapse show"
					aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion"
					style="">
					<div class="card-body border-top p-3 text-muted">Anim
						pariatur cliche reprehenderit, enim eiusmod high life accusamus
						terry richardson ad squid ...</div>
				</div>
			</div>
			<div
				class="box border-bottom bg-white mb-2 rounded shadow-sm overflow-hidden">
				<div id="basicsHeadingTwo">
					<h5 class="mb-0">
						<button
							class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3 collapsed"
							data-toggle="collapse" data-target="#basicsCollapseTwo"
							aria-expanded="false" aria-controls="basicsCollapseTwo">
							Can I add/upgrade my plan at any time? <span
								class="card-btn-arrow"> <span
								class="feather-chevron-down"></span>
							</span>
						</button>
					</h5>
				</div>
				<div id="basicsCollapseTwo" class="collapse"
					aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion"
					style="">
					<div class="card-body border-top p-3 text-muted">Anim
						pariatur cliche reprehenderit, enim eiusmod high life accusamus
						terry richardson ad squid ...</div>
				</div>
			</div>
			<div
				class="box border-bottom bg-white mb-2 rounded shadow-sm overflow-hidden">
				<div id="basicsHeadingThree">
					<h5 class="mb-0">
						<button
							class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3 collapsed"
							data-toggle="collapse" data-target="#basicsCollapseThree"
							aria-expanded="false" aria-controls="basicsCollapseThree">
							What access comes with hosting plan? <span class="card-btn-arrow">
								<span class="feather-chevron-down"></span>
							</span>
						</button>
					</h5>
				</div>
				<div id="basicsCollapseThree" class="collapse"
					aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion"
					style="">
					<div class="card-body border-top p-3 text-muted">Anim
						pariatur cliche reprehenderit, enim eiusmod high life accusamus
						terry richardson ad squid ...</div>
				</div>
			</div>
			<div
				class="box border-bottom bg-white mb-2 rounded shadow-sm overflow-hidden">
				<div id="basicsHeadingFour">
					<h5 class="mb-0">
						<button
							class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
							data-toggle="collapse" data-target="#basicsCollapseFour"
							aria-expanded="false" aria-controls="basicsCollapseFour">
							How do I change my password? <span class="card-btn-arrow">
								<span class="feather-chevron-down"></span>
							</span>
						</button>
					</h5>
				</div>
				<div id="basicsCollapseFour" class="collapse"
					aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
					<div class="card-body border-top p-3 text-muted">Anim
						pariatur cliche reprehenderit, enim eiusmod high life accusamus
						terry richardson ad squid ...</div>
				</div>
			</div>
			<!-- End Card -->
		</div>
		<!-- End Basics Accordion -->
	</div>
</body>
</html>