@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@function random-color($min: 0, $max: 255, $alpha: 1) {
	@if $min < 0 {
		$min: -1;
	} @else {
		$min: $min - 1;
	}
	@if $max > 255 {
		$max: 256;
	} @else {
		$max: $max + 1;
	}
	$red: random($max) + $min;
	$green: random($max) + $min;
	$blue: random($max) + $min;
	@return rgba($red, $green, $blue, $alpha);
}

$ultralight: #fefefe;
$primary: random-color($min: 100, $max: 100);
$primary-light: mix(#ffffff, $primary, 25%);
$primary-dark: mix(#000000, $primary, 25%);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



/* html {
  background-color: #eeeeee;
}

html {
  padding-top: 50px;
  font-family: 'Raleway', Helvetica, arial, sans-serif;
  background-color: #eeeeee;
} */

/* .header {
  text-align: center;
}
.header a {
  text-decoration: none;
  color: #a4b569;
} */

.accordion {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
}

.accordion-item {
  position: relative;
}

.accordion-item .accordion-input{
  display: none;
}
.accordion-item .accordion-input:checked.heading{
  color: #575FF2;
}
.accordion-item .accordion-input:checked.icon{
  background: #FEFEFE;
}
.accordion-item .accordion-input:checked.icon:before{
  color: #575FF2;
}
.accordion-item .accordion-input:checked.icon:after{
  width: 0;
}
.accordion-item .accordion-input:checked .content{
  position: static;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}

.accordion-item.active .heading {
  color: #575FF2;
}

.accordion-item.active .heading .accordion-input:checked{
  color: #575FF2;
}
.accordion-item.active .heading .accordion-input:checked.icon:before{
  color: #575FF2;
}
.accordion-item.active .heading .accordion-input:checked.icon:after{
  color: #575FF2;
}
.accordion-item.active .icon {
  background: #fefefe;
}
.accordion-item.active .icon:before {
  background: #575FF2;
}
.accordion-item.active .icon:after {
  width: 0;
}
.accordion-item .heading {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #022873;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (min-width: 40rem) {
  .accordion-item .heading {
    font-size: 1.2rem;
  }
}
.accordion-item .heading:hover {
  color: #575FF2;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {
  background: #575FF2;
}
.accordion-item .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 2px solid #fefefe;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
  		transform: translateY(-50%);
}
.accordion-item .icon:before, .accordion-item .icon:after {
  content: '';
  width: 1.25rem;
  height: 0.25rem;
  background: #022873;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
 -webkit-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  		transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
}
.accordion-item .content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(10px);
}
.accordion-item .content p {
  margin-top: 0;
}
@media (min-width: 40rem) {
  .accordion-item .content {
    line-height: 1.75;
  }
}
